  <nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/AssistanceWebApp/Index.html">
        <img src="/AssistanceWebApp/Public/media/UTTN_logo.png" alt="UTTN" title="Inicio" width="96" height="auto">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header border-bottom shadow-sm border-success border-4 border-opacity-75">
          <div class="d-flex flex-column gap-3">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Panel</h5>
            <small class="user_panel_enrollment text-muted placeholder-glow">
                <div class="placeholder text-muted fw-bold user_enrollment">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                <div class="placeholder fw-medium user_last_register">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            </small>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <form class="d-flex py-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Enrollment" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>

          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 pb-5">
            <li class="nav-item">
              <button type="button" class="nav-link btn btn-link icon-link icon-link-hover" 
                      style="--bs-icon-link-transform: translate3d(0, -.2rem, 0);" 
                      aria-current="page"
                      onclick='loadView("Users/login")'>
                      <i class="bi bi-house me-2"></i>Home
              </button>
            </li>
            <li class="nav-item">
              <button class="nav-link btn btn-link"><i class="bi bi-clipboard-data me-2"></i>Assistance Report</button>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Panel
              </a>
              <ul class="dropdown-menu placeholder-glow dropdown-menu-end">
                <li><h6 class="dropdown-header"><span class="user_role placeholder">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h6></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.2rem, 0);" href="#"><i class="bi bi-table me-2"></i>Areas</a></li>
                <li>
                  <button type="button" class="dropdown-item btn btn-link icon-link icon-link-hover" 
                          style="--bs-icon-link-transform: translate3d(0, -.2rem, 0);" 
                          onclick='loadView("Assistances/assistances")'>
                    <i class="bi bi-table me-2"></i>Assistances
                  </button>
                </li>
                <li>
                  <button type="button" class="dropdown-item btn btn-link icon-link icon-link-hover" 
                          style="--bs-icon-link-transform: translate3d(0, -.2rem, 0);" 
                          onclick='loadView("Schedule/schedule")'>
                    <i class="bi bi-table me-2"></i>Schedule
                  </button>
                </li>
                <li><a class="dropdown-item icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.2rem, 0);" href="#"><i class="bi bi-table me-2"></i>Careers</a></li>
                <li><a class="dropdown-item icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.2rem, 0);" href="#"><i class="bi bi-table me-2"></i>Grades</a></li>
                <li><a class="dropdown-item icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.2rem, 0);" href="#"><i class="bi bi-table me-2"></i>Groups</a></li>
                <li><a class="dropdown-item icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.2rem, 0);" href="#"><i class="bi bi-table me-2"></i>Locations</a></li>
                <li><a class="dropdown-item icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.2rem, 0);" href="#"><i class="bi bi-table me-2"></i>Roles</a></li>
                <li><a class="dropdown-item icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.2rem, 0);" href="#"><i class="bi bi-table me-2"></i>Times</a></li>
                <li><a class="dropdown-item icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.2rem, 0);" href="#"><i class="bi bi-table me-2"></i>Usuarios</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <hr>
              <p class="text-muted"><i class="bi bi-pin-map me-2"></i>Interactive map</p>
              <div id="map" class="border border-2 rounded shadow mb-3"></div>
              <small class="text-muted"><span class="text-primary fw-medium">Lat:</span> <span id="lat"></span>, <span class="text-primary fw-medium">Lng:</span> <span id="lng"></span></small>
            </li>
            <li class="nav-item bg-light border position-fixed bottom-0 py-2" style="width: -webkit-fill-available;margin-left: -1rem;">
              <div class="col-12 d-flex ">
                <button class="btn btn-sm btn-outline-danger mx-auto" onclick="Logout()"><i class="bi bi-door-open me-2"></i>Logout</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

<script>
    //Inicializa el mapa Leaflet
    var map = L.map('map').setView([0,0], 13);
    
    //Añade el mapa base de OpenStreetMap
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19
    }).addTo(map);
    
        
    //Función para obtener la ubicación del usuario
    function getLocation() {
        if (navigator.geolocation) {
            // Establecer el intervalo para ejecutar la función cada 5 segundos
            setInterval(navigator.geolocation.getCurrentPosition(showPosition), 5000); // 5000 milisegundos = 5 segundos
            //navigator.geolocation.getCurrentPosition(showPosition)
        }else{
            response.Success = false
            response.Message = "Geolocalización no soportada por este navegador."
            response.Message_Classes = "warning"
            toastFill(response)
        }
    }

    //Función para mostrar la posición en el mapa
    function showPosition(position) {
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;
        document.getElementById('lat').innerText = lat
        document.getElementById('lng').innerText = lng
        L.marker([lat, lng]).addTo(map)
        .bindPopup(document.querySelector('.user_enrollment').innerText).openPopup();
        map.setView([lat, lng], 17)
    }
    window.onload = getLocation()
</script>